.explorer-searchbar {
    /* max-width: 200px; */
    /* position: absolute;
    right:  8px;
    top: 30px; */
}

.explorer-searchbar .flex-box {
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    border: solid 1px var(--theme-background);
    height: 32px;
}

.explorer-searchbar input {
    border: none;
    border-radius: 0px;
}

.explorer-searchbar input:focus-visible {
    outline: none;
}

.explorer-sort-by {
    font-size: 12px;
    display: flex;
}

.esb-field {
    color: var(--theme-dark-gray-text);
    align-items: center;
    display: flex;
}

.inline {
    display: inline;
}

.explorer-item-icon {
    min-width: 42px;
    max-width: 42px;
    font-size: 20px;
    color: var(--theme-brand-blue);
}

.explorer-item-container {
    line-height: 42px;
}

.explorer-item-actions {
    max-width: 92px;
}

.explorer-item-actions > div {
    border-radius: 4px;
    width: 42px;
    cursor: pointer;
}

.explorer-item-actions > div:hover {
    background-color: rgba(0,0,0,0.1);
}

.explorer-list {
    min-height: 500px;
    max-height: 500px;
}

.explorer-action-btn {
    max-width:fit-content;
}
.disabled {
    cursor: not-allowed;
}
.helper-wrap {
    background-color: #37556A;
    padding: 8px 16px;
}
.helper-title {
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.helper-title .vertical-center{
    align-items: center;
}
.helper-title .url{
    font-size: 15px;
    font-weight: 500;
}
.btn-method {
    height: 24px;
    color: white;
    font-size: 13px;
    line-height: 24px;
    font-weight: 900;
    margin-right: 16px;
    padding : 4px 12px;
    text-transform: capitalize;
}

.rename-error {
    min-width: 300px;
    margin: 5px auto;
}

.btn-method.GET{
    background-color: #3E94C5;
}
.btn-method.PUT{
    background-color: #F7C94F;
}
.btn-method.POST{
    background-color: #55BA86;
}
.btn-method.DEL{
    background-color: #EC4F79;
}