.explorer-searchbar {
    /* max-width: 200px; */
    /* position: absolute;
    right:  8px;
    top: 30px; */
}

.explorer-searchbar .flex-box {
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    border: solid 1px var(--theme-background);
    height: 32px;
}

.explorer-searchbar input {
    border: none;
    border-radius: 0px;
}

.explorer-searchbar input:focus-visible {
    outline: none;
}

.explorer-sort-by {
    font-size: 12px;
    display: flex;
}

.esb-field {
    color: var(--theme-dark-gray-text);
    align-items: center;
    display: flex;
}

.inline {
    display: inline;
}

.explorer-item-icon {
    min-width: 42px;
    max-width: 42px;
    font-size: 20px;
    color: var(--theme-brand-blue);
}

.explorer-item-container {
    line-height: 42px;
}

.explorer-item-actions {
    max-width: 92px;
}

.explorer-item-actions > div {
    border-radius: 4px;
    width: 42px;
    cursor: pointer;
}

.explorer-item-actions > div:hover {
    background-color: rgba(0,0,0,0.1);
}

.explorer-list {
    min-height: 500px;
    max-height: 500px;
}

.explorer-action-btn {
    max-width:fit-content;
}
.disabled {
    cursor: not-allowed;
}