# Default values for direktiv.
replicaCount: 1

nodeSelector: {}
tolerations: []
affinity: {}

registry: "docker.io"
pullPolicy: Always
imagePullSecrets: []

# if using proxy the user needs to be a valid IAM user with access to the database
# e.g. roles/cloudsql.editor. Additionally the service account needs to be mapped
# to to google with:
# ccount:
#   annotations:
#      iam.gke.io/gcp-service-account: IAM_USER@GCP_PROJECT.iam.gserviceaccount.com
serviceAccount:
  annotations: {}
  name: ""
  create: true

# proxy settings
http_proxy: ""
https_proxy: ""
no_proxy: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

# support services
withSupport: true
withFlow: true
withUI: true
withAPI: true

supportPersist: false

# enable debug
debug: false

<<<<<<< HEAD
# enables/disables network policies
useNetworkPolicies: false
=======
useNetworkPolicies: false # enables/disables network policies2
>>>>>>> 2af887c3843599d9dde8ec02345eebc765681173

ingress:
  host: ""
  certificate: none
  class: "contour-external"

# flow config
flow:
  image: "vorteil/flow"
  tag: "latest"
  db: ""
  functionsProtocol: "http"
<<<<<<< HEAD
  functionsCA: "none"
  certificates:
    flow: none
    mtlsFlow: none
    ingress: none
    mtlsIngress: none
=======
  functionsCA: "none" # change function pod secret too
  # functionsCA: "direktiv-cert3"
  certificates:
    flow: none
    mtlsFlow: none
    # flow: hello-world6
    # mtlsFlow: hello-world6
    ingress: none
    mtlsIngress: none
    # ingress: hello-world5
    # mtlsIngress: hello-world5
>>>>>>> 2af887c3843599d9dde8ec02345eebc765681173
  extraContainers: []
  extraVolumeMounts:
    # - name: service-template
    #   mountPath: /etc/config
  extraVolumes:
    # - name: service-template
    #   configMap:
    #     name: service-template

secrets:
  image: "vorteil/secrets"
  tag: "latest"
  db: ""
  key: "01234567890123456789012345678912"
  extraVolumeMounts: []

# ui config
ui:
  image: "vorteil/direktiv-ui"
  tag: "latest"
<<<<<<< HEAD
=======
  # certificate: direktiv-cert
>>>>>>> 2af887c3843599d9dde8ec02345eebc765681173
  certificate: none

api:
  image: vorteil/api
  tag: "latest"
  key: ""
  certificate: none

# Set Send and Recv limits for all grpc clients and servers
<<<<<<< HEAD
grpc:
  server:
    maxSendSize: "4194304"
    maxRecvSize: "4194304"
  client:
    maxSendSize: "4194304"
    maxRecvSize: "4194304"
=======
grpc: #PARENT
  server: # GRPC
    maxSendSize: "4194304" # SENDS
    maxRecvSize: "4194304" # RECVS
  client: # CLIENT
    maxSendSize: "4194304" # SENDS1
    maxRecvSize: "4194304" # RECVS1
>>>>>>> 2af887c3843599d9dde8ec02345eebc765681173

functions:
  # namespace to run functions in
  namespace: direktiv-services-direktiv

  # images for functions controller, knative sidecar and init-pod
  image: "vorteil/functions"
  tag: "latest"
  certificate: none
  mtls: none
<<<<<<< HEAD
=======
  # certificate: hello-world3
  # mtls: hello-world3
>>>>>>> 2af887c3843599d9dde8ec02345eebc765681173

  sidecar: "vorteil/sidecar"

  initPodImage:  "vorteil/direktiv-init-pod"
<<<<<<< HEAD

=======
  # initPodCertificate: direktiv-cert3
>>>>>>> 2af887c3843599d9dde8ec02345eebc765681173
  initPodCertificate: none

  # number of controller replicas
  replicaCount: 1

  # allowed network traffic if supported
  netShape: "10M"

  # database connection, required for pub/sub with flow
  db: ""

  # run pod cleaner for kubernetes < 1.20
  podCleaner: true

  # runtime to use, e.g. gvisor
  runtime: "default"

  # extra container for controller pod
  # e.g. database containers for google cloud or logging
  extraContainersPod: []
  extraContainers:
    []
    # - name: cloud-sql-proxy
    #   image: gcr.io/cloudsql-docker/gce-proxy:1.17
    #   command:
    #     - "/cloud_sql_proxy"
    #     - "-instances=mygcpdb=tcp:5432"
    #     - "-ip_address_types=PRIVATE"
    #   securityContext:
    #     runAsNonRoot: true
    #   resources:
    #     requests:
    #       memory: "2Gi"
    #       cpu:    "1"
