.loader{
    width: 350px;
    height: 250px;
    background-size: contain;
    background-position: 50% 50%;
    background-image: url(../../assets/animated-logo.gif);
    background-repeat: no-repeat;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
    padding: 8px; 
    top: 0;
    left: 0
}