@keyframes direktivloader {
    0%{
        background-image: url(../../assets/animated-logo/1-min.png);
    }
    3%{
        background-image: url(../../assets/animated-logo/2-min.png);
    }
    6%{
        background-image: url(../../assets/animated-logo/3-min.png);
    }
    9%{
        background-image: url(../../assets/animated-logo/4-min.png);
    }
    12%{
        background-image: url(../../assets/animated-logo/5-min.png);
    }
    15%{
        background-image: url(../../assets/animated-logo/6-min.png);
    }
    18%{
        background-image: url(../../assets/animated-logo/7-min.png);
    }
    21%{
        background-image: url(../../assets/animated-logo/8-min.png);
    }
    24%{
        background-image: url(../../assets/animated-logo/9-min.png);
    }
    27%{
        background-image: url(../../assets/animated-logo/10-min.png);
    }
    30%{
        background-image: url(../../assets/animated-logo/11-min.png);
    }
    33%{
        background-image: url(../../assets/animated-logo/12-min.png);
    }
    36%{
        background-image: url(../../assets/animated-logo/13-min.png);
    }
    39%{
        background-image: url(../../assets/animated-logo/14-min.png);
    }
    42%{
        background-image: url(../../assets/animated-logo/15-min.png);
    }
    45%{
        background-image: url(../../assets/animated-logo/16-min.png);
    }
    48%{
        background-image: url(../../assets/animated-logo/17-min.png);
    }
    52%{
        background-image: url(../../assets/animated-logo/18-min.png);
    }
    55%{
        background-image: url(../../assets/animated-logo/19-min.png);
    }
    58%{
        background-image: url(../../assets/animated-logo/20-min.png);
    }
    61%{
        background-image: url(../../assets/animated-logo/21-min.png);
    }
    64%{
        background-image: url(../../assets/animated-logo/22-min.png);
    }
    67%{
        background-image: url(../../assets/animated-logo/23-min.png);
    }
    70%{
        background-image: url(../../assets/animated-logo/24-min.png);
    }
    73%{
        background-image: url(../../assets/animated-logo/25-min.png);
    }
    76%{
        background-image: url(../../assets/animated-logo/26-min.png);
    }
    79%{
        background-image: url(../../assets/animated-logo/27-min.png);
    }
    82%{
        background-image: url(../../assets/animated-logo/28-min.png);
    }
    85%{
        background-image: url(../../assets/animated-logo/29-min.png);
    }
    88%{
        background-image: url(../../assets/animated-logo/30-min.png);
    }
    91%{
        background-image: url(../../assets/animated-logo/31-min.png);
    }
    94%{
        background-image: url(../../assets/animated-logo/32-min.png);
    }
    100%{
        background-image: url(../../assets/animated-logo/1-min.png);
    }
}



.loader{
    width: 350px;
    height: 250px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: direktivloader 1.5s infinite;
            animation: direktivloader 1.5s infinite;
    -webkit-animation-timing-function: steps(1, end);
            animation-timing-function: steps(1, end);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
    width:100vw; 
    height: 100vh; 
    padding: 8px; 
    position: fixed;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0
}