.broadcast-panel {
  width: 100%;
  min-width: 250px;
}

.broadcast-options-panel {
  padding: 4px;
}

.broadcast-options-header {
  font-weight: var(--theme-bold-font-weight);
}

.broadcast-options-inputs {
  font-size: 12px;
}

.options-row {
  border-bottom: var(--border);
  padding-bottom: 16px;
}
