# example .env file. Copy this file to .env and fill in the values
# read more about .env files in vite here https://vitejs.dev/guide/env-and-mode.html#env-files
VITE_DEV_API_DOMAIN="http://api.for.development.com"