# example .env file. Copy this file to .env and fill in the values
# read more about .env files in vite here https://vitejs.dev/guide/env-and-mode.html#env-files

# ❗please extend the zod schema in src/config/env.ts if you add new variables❗

# the domain of the api server, vite will setup a proxy to fullfill CORS policy
VITE_DEV_API_DOMAIN="http://api.for.development.com"

# only neccesary when building for production, will be displayed underneath the login
VITE_APP_VERSION=""

# use the open source or community edition
VITE_IS_ENTERPRISE="FALSE" # true or TRUE will evaluate to true, everything else will be false

# switch between the new or legacy design
VITE_LEGACY_DESIGN="TRUE" # true or TRUE will evaluate to true, everything else will be false

# Playwright will run an instance of the app under this URL to perform e2e tests.
VITE_E2E_UI_HOST="http://localhost"
VITE_E2E_UI_PORT="3333"

# The API to connect against during E2E tests.
VITE_E2E_API_HOST="http://api.for.e2e.com"