#Mac desktop files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.vscode

# certs for linkerd 
ca.*
issuer.*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

/deps
/build/*-binary
/build/*.md5
/build/*.checksum
/build/flow
/build/api
/build/sidecar
/build/init-pod
/build/apiserver
/build/direktiv
/build/direkcli
/build/flow-dbinit
/build/direkcli-linux
/build/secrets
/build/functions
/build/alpine-*
/build/isolates
/apiserver
/direktiv
/direkcli*
/ui-server
/postgres
/minio
/direktiv-ui
/secrets
/api
/direktiv-apps
/binaries

/build/docker/*
!*build/docker/flow-dbinit
!*build/docker/all
!*build/docker/direktiv
/build/docker/sidecar/sidecar
*build/docker/functions/functions
build/docker/all/kubernetes
build/docker/all/*.tar
build/docker/all/*.tar.gz
deploy*.yaml

kubernetes/charts/knative/charts
kubernetes/charts/knative/Chart.lock

kubernetes/charts/direktiv/charts
kubernetes/charts/direktiv/Chart.lock
kubernetes/charts/direktiv/tmpcharts

scripts/api/swagger_in.json
scripts/devcerts
scripts/direktiv-charts
scripts/registry/share/out

scripts/wip/kong/proto

logs.log
build/docker/all/k3s

ca.crt
ca.key
cmd/exec/.direktiv.yaml
cmd/exec/greeting.json
cmd/exec/test.json
cmd/exec/test.yaml
greeting.json
issuer.crt
issuer.key
scripts/dev.yaml

scripts/api/api.md
scripts/api/swagger.json
.idea


direktivctl-darwin
direktivctl-darwin-arm64
direktivctl-windows
direktivctl

*node_modules

.draft

openapi/node_modules
openapi/output
openapi/src/paths/paths.yaml

direktiv.yaml