version: "3.9"
services:
  postgres:
    image: postgres:buster
    command: [
        "postgres",
        ## "-c", "log_statement=all",
        ## "-c", "log_destination=stderr",
      ]
    environment:
      POSTGRES_USER: myadmin
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
      POSTGRES_INITDB_ARGS: "-A password"
    ports:
      - "5432:5432"
    volumes: []

  flow:
    image: ${DIREKTIV_IMAGE}
    command: ["/bin/direktiv", "server"]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DIREKTIV_APP=flow

      - DIREKTIV_API_V1_PORT=6665
      - DIREKTIV_GRPC_PORT=6666
      - DIREKTIV_API_V2_PORT=6667
      - DIREKTIV_DEBUG=true

      - DIREKTIV_DB=host=postgres port=5432 user=myadmin dbname=mydb password=mypassword sslmode=disable
      - DIREKTIV_SECRET_KEY=01234567890123456789012345678912
      - DIREKITV_ENABLE_DOCKER=true

      - DIREKTIV_KNATIVE_NAMESPACE=direktiv-services-direktiv
      - DIREKTIV_FUNCTIONS_TIMEOUT=7200
      - DIREKTIV_LOG_JSON=console

    ports:
      # api v1 port
      - "6665:6665"
      # grpc port
      - "6666:6666"
      # api v2 port
      - "6667:6667"
    depends_on:
      - postgres

  ui:
    image: direktiv-ui-dev
    environment:
      - UI_BACKEND=http://flow:6665/api/
      - UI_PORT=8181
    ports:
      # api port
      - "8181:8181"
    depends_on:
      - flow

  e2e-tests:
    image: node:lts-alpine3.18
    volumes:
      - ./tests:/tests
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0
      - DIREKTIV_HOST=http://flow:6665
    command: npm --prefix /tests run all -- /
    depends_on:
      - flow
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.template:/etc/nginx/conf.d/default.conf
    depends_on:
      - ui