version: '3.9'
services:

  postgres:
    image: postgres:buster
    command: [ "postgres",
              ## "-c", "log_statement=all",
              ## "-c", "log_destination=stderr",
    ]
    environment:
      POSTGRES_USER: myadmin
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
      POSTGRES_INITDB_ARGS: "-A password"
    ports:
      - "5432:5432"
    volumes: []

  flow:
    image: ${DIREKTIV_IMAGE}
    command: ["/bin/direktiv", "server", "something"]
    volumes:
      - ./config.yaml:/config.yaml
    environment:
      - DIREKTIV_APP=flow
      - DIREKTIV_CONFIG=/config.yaml
      - DIREKTIV_DB=host=postgres port=5432 user=myadmin dbname=mydb password=mypassword sslmode=disable
      - DIREKTIV_SECRETS_KEY=01234567890123456789012345678912
      - DIREKITV_DISABLE_SERVICES=true
      - PORT=6666
    ports:
      # flow port
      - "6666:6666"
    depends_on:
      - postgres

  api:
    image: ${DIREKTIV_IMAGE}
    command: ["/bin/direktiv"]
    volumes:
      - ./config.yaml:/config.yaml
    environment:
      - DIREKTIV_APP=api
      - DIREKTIV_DEBUG=true
      - DIREKTIV_CONFIG=/config.yaml
    ports:
      # api port
      - "1644:1644"
    depends_on:
      - flow

  ui:
    image: direktiv-ui-dev
    environment:
      - DIREKTIV_SERVER_BACKEND=http://api:1644
    ports:
      # api port
      - "2304:2304"
    depends_on:
      - api
