@keyframes shimmer {
    0% {
      background-position: -500px 0;
    }
    100% {
      background-position: 500px 0;
    }
  }
  
/* BUTTON SHARED */
.btn {
    user-select: none;
    color: var(--theme-white);
    cursor: pointer;
    border-radius: var(--theme-border-radius);
    background-color: var(--theme-brand-blue);
    padding: 7px 10px 6px;
    height: 32px;
    line-height: 32px;
    width: fit-content;
    font-size: 12px;
    transition: filter 0.1s;
}
.btn.loading {
    opacity: 0.9 !important;
    pointer-events: none !important;
    cursor: unset !important;

    animation : shimmer 3s infinite linear;
    background: linear-gradient(to right, var(--theme-brand-blue) 4%, #58b8f0 25%, var(--theme-brand-blue) 36%);
    background-size: 500px 100% !important;
}
.btn:hover {
    filter: brightness(var(--hover-brightness));
  }
.btn:active {
    filter: brightness(var(--active-brightness));
}

.btn-wrapper.loading {
    cursor: progress;
}
.btn.disabled {
    pointer-events: none !important;
    cursor: not-allowed !important;
    opacity: 0.5 !important;
}

/* BUTTON SIZES */
.btn.small {
    height: 16px;
    line-height: 16px;
}
.btn.medium {
    height: 22px;
    line-height: 22px;
}
/* BUTTON STYLES */
.btn.light {
    outline: var(--border);
    background-color: white;
    color: var(--theme-dark-gray-text);
}
.btn.light:hover {
    filter: brightness(90%);
}
.btn.light:active {
    filter: brightness(80%);
}
.btn.light.loading {
    background: linear-gradient(to right, rgb(222, 222, 222) 4%, rgb(255, 255, 255) 25%, rgb(222, 222, 222) 36%);
}
.btn.terminal {
    background-color: rgb(53, 81, 102);
    font-size: 15px;
}
.btn.terminal.disabled {
    opacity: 0.3 !important;
}
.btn.terminal.loading {
    background: linear-gradient(to right, rgba(53,81,102,1) 4%, rgb(66, 114, 151) 25%, rgba(53,81,102,1) 36%);
}
.btn.bold {
    font-weight: bold;
}
.btn.black {
    color: black;
}





/* .btn-loading :last-child {
    color: red;
}
.btn-loading :not(:last-child) {
    visibility: hidden;
}
.btn-loading {
    pointer-events: none !important;
    cursor: unset !important;
    background-color: var(--theme-grey-light-blue);
}
.btn-loading :last-child {
    margin: auto;
    position: relative;
    bottom: 16px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
} */