@media screen and (max-width: 600px) {
    .hide-on-small {
        display: none !important;
    }
}

@media screen and (min-width: 601px) {
    .hide-on-medium-and-up {
        display: none !important;
    }
}

@media screen and (max-width: 800px) {
    .hide-on-800 {
        display: none !important;
    }
}

@media screen and (max-width: 860px) {
    .hide-on-860 {
        display: none !important;
    }
}

@media screen and (max-width: 1050px) {
    .hide-on-med {
        display: none !important;
    }
}