@media screen and (max-width: 600px) {
  .hide-600 {
    display: none !important;
  }
}

@media screen and (min-width: 600px) {
  .show-600 {
    display: none !important;
  }
}

@media screen and (max-width: 700px) {
  .hide-700 {
    display: none !important;
  }
}

@media screen and (min-width: 700px) {
  .show-700 {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  .hide-800 {
    display: none !important;
  }
}

@media screen and (min-width: 800px) {
  .show-800 {
    display: none !important;
  }
}

@media screen and (max-width: 864px) {
  .hide-864 {
    display: none !important;
  }
}

@media screen and (min-width: 864px) {
  .show-864 {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  .hide-900 {
    display: none !important;
  }
}

@media screen and (min-width: 900px) {
  .show-900 {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .hide-1000 {
    display: none !important;
  }
}

@media screen and (min-width: 1000px) {
  .show-1000 {
    display: none !important;
  }
}
