.react-flow {
  background: #fafbfc !important;
}
.react-flow__handle {
  background: transparent !important;
  border: none !important;
}

.react-flow__node.react-flow__node-state {
  line-height: 13px;
}

.state {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 0px 2px 0px #dbdbdb;
  padding: 6px;
}

.normal {
  height: 30px;
  width: 30px;
  border-radius: 35px;
  background-color: white;
  box-shadow: 0px 0px 2px 0px #dbdbdb;
  padding: 6px;
  display: grid;
  place-items: center;
}

.normal .start {
  border-radius: 30px;
  background: rgba(115, 204, 118, 1);
  height: 30px;
  width: 30px;
}

.normal .end {
  background: rgb(204, 115, 115);
  border-radius: 30px;
  height: 30px;
  width: 30px;
}
