@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
.docs-story,
.sb-show-main {
  @apply h-full;
  @apply bg-white dark:bg-black;
  @apply text-gray-12 dark:text-gray-dark-12;
}

/**
 * applying dark:bg-black on html tag (see above) doesn't work, because  dark: prefix
 * is not applied to html tag but to its children. So we need to apply it manually
 */
html[data-theme="dark"] {
  @apply bg-black;
  color-scheme: dark;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter.ttf") format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter-Medium.ttf") format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/RobotoMono-Medium.ttf") format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Menlo.ttf") format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
