.add-secret-btn > div {
    cursor: pointer;
    margin: auto;
    width: fit-content;
    padding-top: 5px;
}

.add-secret-btn > div:hover {
    filter: brightness(0.8);
}


.add-secret-btn > div > svg {
    height: 22px;
    width: 22px;
    color: var(--theme-green);
}

.secret-tuple {
    font-size: 12px;
    max-height: 24px;
    padding: 2px;
    background-color: white;
    /* cursor: pointer; */
    border-radius: 4px;
}

.secret-tuple .actions {
    max-width: 20px;
    margin-top: 2px;
}

.secret-tuple:hover {
    background-color: rgba(0,0,0,0.1);
}
.secret-tuple.empty-content:hover {
    background-color: white;
}
.secret-tuple > .key {
    /* min-width: 40%; */
    /* max-width: 40%; */

    padding-left: 8px;
}

.secret-tuple > .val > span {
    margin: auto;
}

.secrets-panel {
    overflow-y: auto;
}

.secrets-delete-btn {
    cursor: pointer;
    float: right;
}

.secret-tuple > .actions {
    display: block;
    width: 50px;
    max-width: 50px;
}

.secret-tuple > .actions svg {
    height: 18px;
    width: 18px;
}