.secret-tuple {
    font-size: 12px;
    max-height: 24px;
    padding: 2px;
    background-color: white;
    /* cursor: pointer; */
    border-radius: 4px;
}

.secret-tuple .actions {
    max-width: 20px;
    flex: 1;
    flex-basis: 0;
}

.secret-tuple:hover {
    background-color: rgba(0,0,0,0.04);
}
.secret-tuple.empty-content:hover {
    background-color: white;
}
.secret-tuple > .key {
    /* min-width: 40%; */
    /* max-width: 40%; */

    padding-left: 8px;
    flex: 3;
    flex-basis: 0;
    overflow: hidden;
    min-width: 30px;
}

.secret-tuple .val{
    flex: 1;
    flex-basis: 0;
}

.secret-tuple > .val > span {
    margin: auto;
}

.secrets-panel {
    overflow-y: auto;
}

.secrets-panel > .flex-box {
    width: 100%;
}

.secrets-delete-btn {
    cursor: pointer;
    float: right;
}

.secret-tuple > .actions {
    display: block;
    width: 50px;
    max-width: 50px;
}

.secret-tuple > .actions svg {
    height: 18px;
    width: 18px;
}