#empty-activities-area {
    background-color: #e9ecef;
    border-radius: 4px;
    padding: 15px;
}

.instance-list-item {
    color: #404040;
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    background-color: #e9ecef;
    margin-bottom: 15px;
    padding: 8px;
    cursor: pointer;
}

.instance-list-item:hover {
    background-color: #c7cacd;
    text-decoration: none;
}

.instance-list-item-title {
    display: flex;
}

.instance-list-item-title div {
    flex: auto;
}

.instance-list-item.complete {
    border-color: #66bb6a;
}

.instance-list-item.complete {
    border-color: #66bb6a;
}

.instance-list-item.listening {
    border-color: #6c757d;
}

.instance-list-item.ended {
    border-color: #66bb6a;
}

.instance-list-item.pending {
    border-color: #ffc107;
}

.instance-list-item.crashed {
    border-color: black;
}

.instance-list-item.failed {
    border-color: #dc3545;
}

.instance-list-item.running {
    border-color: #17a2b8;
}

@media (min-width: 577px) {
    @media (max-width: 768px) {
        #instances {
            margin-left: 14px;
        }
    }
}

#instances a {
    text-decoration: none;
}

#instance pre {
    padding: 8px;
    border-radius: 4px;
    background-color: #e9ecef;
}