.pagination {
    justify-content: center;
}

#primary-container {
    padding: 0px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#primary-nav {
    background-image: linear-gradient(-9deg, #00a1fc 0%, #005bea 100%);
}

#nav-content {
    flex: auto;
    text-align: right;
    flex-direction: row-reverse;
}

#navatar {
    max-height: 40px;
    max-width: 40px;
    width: auto;
    border: solid 2px white;

    margin: 0px 0px 0px 15px;
}

.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.custom-navbar-btn {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.custom-navbar-btn a {
    padding-right: 0px;
}

.custom-navbar-btn a span {
    color: white;
}

.dropdown-toggle::after {
    display: none !important;
}

.no-side-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

ol.breadcrumb {
    border: solid 1px #e0e0e0;
}

.node-container {
    height: 40px;
    width: 100%;
    margin: auto;
    background: white;
    width: 100px;
    border: 1px solid #b5b5b5;
}

.node-text {
    width: 100%;
    text-align: center;
    margin-top: 3px;
    font-size: 10px;
    padding: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.node-text .sub {
    font-size: 8px;
    color: #b5b5b5;
}