#breadcrumbs {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.bc-svg {
    margin-bottom: 4px;
}

.bc-toogle-toast {
    background-color: #f0f8ff00;
    border: 0;
    outline: none !important;
    box-shadow: none;
}