.cm-s-neo span.cm-meta {
    color: #505030;
}

.cm-s-neo span.cm-number {
    color: #5f5f9f;
}

.cm-s-neo span.cm-keyword {
    line-height: 1em;
    font-weight: bold;
    color: #101070;
}

.cm-s-neo span.cm-atom {
    font-weight: bold;
    color: #202060;
}

.cm-s-neo span.cm-def {
    color: #000000;
}

.cm-s-neo span.cm-variable {
    color: black;
}

.cm-s-neo span.cm-variable-2 {
    color: black;
}

.cm-s-neo span.cm-variable-3, .cm-s-neo span.cm-type {
    color: black;
}

.cm-s-neo span.cm-property {
    color: black;
}

.cm-s-neo span.cm-operator {
    color: black;
}

.cm-s-neo span.cm-comment {
    color: #808080;
}

.cm-s-neo span.cm-string {
    color: #107010;
}

.cm-s-neo span.cm-string-2 {
    color: #107010;
}

.cm-s-neo span.cm-qualifier {
    color: #555;
}

.cm-s-neo span.cm-error {
    color: #FF0000;
}

.cm-s-neo span.cm-attribute {
    color: #5f5f9f;
}

.cm-s-neo span.cm-tag {
    color: #202060;
}

.cm-s-neo span.cm-link {
    color: #5f5f9f;
}

.cm-s-neo .CodeMirror-activeline-background {
    background: #FF0000;
}

/* .cm-s-neo.CodeMirror { background: #f5f5f5; color: #e0e0e0; } */
.cm-s-neo .CodeMirror-gutters {
    background: #ececec;
    border-right: 1px solid #aaa;
}


.cm-s-neo span.cm-builtin {
    color: #30a;
}

.cm-s-neo span.cm-bracket {
    color: #cc7;
}

.cm-s-neo {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.cm-s-neo .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: black !important;
}

.CodeMirror-hints.neo {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #616569;
    background-color: #FF0000 !important;
}

.CodeMirror-hints.neo .CodeMirror-hint-active {
    background-color: #a2b8c9 !important;
    color: #5c6065 !important;
}