.workflow-actions {
    display: flex;
    width: 100%;
    min-height: 10px;
}

.workflow-actions-box {
    display: flex;
}

.workflow-actions-header {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

#workflow-header div.padded-border {
    margin-top: 15px;
    border-bottom: solid 1px #e0e0e0;
}

#workflow-actions-title {
    align-items: center;
}

#workflow-actions-title h4 {
    margin-bottom: 0px !important;
}

#workflow-actions-options {
    flex: auto;
    justify-content: flex-end;
}

#actions-container {
    display: flex;
    align-items: center;
}

#workflows-actions-dropdown {
    border-color: #6c757d;
}

.input-modal {
    width: 90vw;
    max-width: 90vw;
}

.CodeMirror-lint-tooltip {
    z-index: 9999 !important;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #8a8f94;
    padding-bottom: 5px;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ced4da;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

.workflowUpload {
    background-color: #e9ecef;
    text-align: center;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    color: #636569;
    font-style: italic;
    cursor: pointer;
}

/* .CodeMirror {
    font-family: monospace;
    height: 400px;
} */