.jq-example {
  color: var(--theme-brand-blue);
}

.error-message {
  font-size: 14px;
  background-color: #ffc0c5;
  margin: 0px 7px 10px;
}

.how-to-jq {
  max-width: 480px;
}

.error-message span {
  padding: 0px 5px 0px 0px;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 1450px) {
  .box-wrap {
    flex-direction: column;
  }
  .how-to-jq {
    max-width: 100%;
  }
}
