.jq-example{
    color: var(--theme-brand-blue);
}

.error-message {
    padding: 0px 30px;
    min-height: 50px;
    font-weight: 600;
    color: #566875;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 5px;
    background-color: #FFC0C5;
    margin: 0px auto 10px;
}