.log-window {
  height: 100%;
  min-width: 60px;
  min-height: 60px;
  font-family: monospace;
  font-size: 14px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.246);
}

.log-window ::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

.log-window ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.246);
}

.log-window ::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.602);
  outline: 1px solid slategrey;
}

.log-window .log-row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}

.log-window .log-row.whole-word .msg {
  white-space: nowrap;
  overflow-x: hidden;
}

.log-window .timestamp {
  color: hsla(0, 0%, 100%, 0.386);
}

.log-window .tag-name {
  color: hsla(0, 0%, 100%, 0.446);
}

.log-window .tag-state {
  color: hsla(0, 0%, 100%, 0.592);
}

.log-window .log-row--error {
  color: hsl(358, 75%, 59%);
  background-color: hsl(356, 43.4%, 16.4%);
}

.log-window .log-row--error .timestamp {
  color: hsl(358, 65%, 40.4%);
}

.log-window .log-row--error .tag-name {
  color: hsl(358, 65%, 40.4%);
}

.log-window .log-row--error .tag-state {
  color: hsl(358, 65%, 40.4%);
}
