.info-input{

}

.info-update-label{
    color: var(--theme-dark-gray-text);
}


.info-input-value.readonly{
    color: var(--theme-dark-gray-text);
    pointer-events: none;
}

.info-textarea-value.readonly{
    color: var(--theme-dark-gray-text);
}


.info-input-undo{
    cursor: pointer;
    color: var(--theme-brand-blue);
    text-decoration: underline;
    font-size: 12px;
}

.info-input-undo:hover{
    filter: saturate(2);
}

.info-input-undo.hide{
    pointer-events: none;
    visibility: hidden;
    height: 0px !important;
    max-height: 0px !important;
    overflow: hidden !important;
    width: 0px !important;
    max-width: 0px !important;
    padding: 0px;
    margin: 0px;
}

.activity-row {
    border-top: solid 1px var(--theme-dark-gray-faded);
    line-height: 42px;
    height: 42px;
}

.activity-row:last-child {
    border-top: solid 1px var(--theme-dark-gray-faded);
    border-bottom: solid 1px var(--theme-dark-gray-faded);
    line-height: 42px;
    height: 42px;
}