.variables-table thead {
    border-bottom: var(--border);
}

.variables-table tr {
    line-height: 32px;
}

.variables-table tr:not(:last-of-type) {
    border-bottom: var(--border);
}

.editor-placeholder {
    border-radius: var(--theme-border-radius);
    background-color: var(--theme-dark-gray-text);
    width: 100%;
    max-width: 800px;
    color: white;
}

.editor-var-name, .editor-placeholder {
    min-height: 128px;
}

.file-input {
    padding: 16px;
    border: dashed 3px var(--theme-grey-light-blue);
    cursor: pointer;
    background-color: var(--theme-brand-blue-faded);
}

.file-input:hover {
    filter: brightness(0.7);
}

.file-input > div {
    margin: auto;
}