.wrap-word {
    word-wrap: inherit;
}
.variables-table {
    font-size: 12px;
    width: 100%;
}

.variables-table thead {
    border-bottom: var(--border);
}

.variables-table tr {
    line-height: 32px;
}

.variables-table .header-row {
    max-height: 32px;
    height: 32px;
    min-height: 0px;
}

.variables-table .body-row {
    max-height: 48px;
    height: 48px;
    min-height: 0px;
}

.variables-table tr td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.variables-table tr td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.variables-table .body-row:hover {
    background-color: rgba(0,0,0,0.04);
}

.variables-table tr:not(:last-of-type) {
    border-bottom: var(--border);
}

.editor-placeholder {
    border-radius: var(--theme-border-radius);
    background-color: var(--theme-dark-gray-text);
    width: 100%;
    max-width: 800px;
    color: white;
}

.editor-var-name, .editor-placeholder {
    min-height: 128px;
}

.file-input {
    padding: 16px;
    border: dashed 3px var(--theme-grey-light-blue);
    cursor: pointer;
    background-color: var(--theme-brand-blue-faded);
}

.file-input:hover {
    filter: brightness(0.7);
}

.file-input > div {
    margin: auto;
}

@media screen and (max-width: 600px) {
    .variable-name {
        max-width:100px !important;
    }

    .show-variable {
        max-width: 150px !important;
    }
}

@media screen and (max-width: 400px) {
    .variable-name {
        max-width:60px !important;
    }
}