{{- if .Values.withAPI -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "direktiv.fullname" . }}-api
  labels:
    {{ include "direktiv.labelsAPI" . | nindent 4 }}-api
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "direktiv.selectorLabelsAPI" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "direktiv.selectorLabelsAPI" . | nindent 8 }}
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 33333
        runAsGroup: 22222
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "direktiv.serviceAccountName" . }}
      volumes:
      - name: apiconf
        configMap:
          name: api-cm-config
      - name: wf-templates
        configMap:
          name: api-wftemplates-cm
      - name: api-blocklist
        configMap:
          name: api-blocklistnamespaces-cm
          items:
          - key: blocklist
            path: blocklist
      - name: action-templates
        configMap:
          name: api-actiontemplates-cm
      {{- if ne  .Values.flow.certificate "none" }}
      - name: certs
        secret:
          secretName: {{ .Values.flow.certificate }}
      {{- end }}
      {{- if ne  .Values.uiapiCertificate "none" }}
      - name: servecerts
        secret:
          secretName: {{ .Values.uiapiCertificate }}
      {{- end }}
      containers:
      - name: api
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
        # readinessProbe:
        #   tcpSocket:
        #     port: 8080
        #   initialDelaySeconds: 5
        #   periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /api/healthz
            port: 8080
            {{- if ne  .Values.uiapiCertificate "none" }}
            scheme: HTTPS
            {{- end }}
          periodSeconds: 10
          failureThreshold: 3
        resources:
          requests:
            memory: "512Mi"
            cpu: "0.25"
          limits:
            memory: "2048Mi"
            cpu: "2"
        image: "{{ .Values.registry }}/{{ .Values.api.image }}:{{ .Values.api.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.pullPolicy }}
        env:
          - name: GRPC_MAX_SEND_SIZE_CLIENT
            value: {{ .Values.grpc.client.maxSendSize | quote }}
          - name: GRPC_MAX_RECEIVE_SIZE_CLIENT
            value: {{ .Values.grpc.client.maxRecvSize | quote }}
          - name: GRPC_MAX_SEND_SIZE_SERVER
            value: {{ .Values.grpc.server.maxSendSize | quote }}
          - name: GRPC_MAX_RECEIVE_SIZE_SEVER
            value: {{ .Values.grpc.server.maxRecvSize | quote }}
          {{- if  .Values.api.key }}
          - name: DIREKTIV_API_KEY
            valueFrom:
              secretKeyRef:
                name: {{ include "direktiv.fullname" . }}
                key: apiKey
          {{- end }}
        volumeMounts:
        - name: apiconf
          mountPath: "/config"
          readOnly: true
        - name: api-blocklist
          mountPath: /blocklist
          subPath: "blocklist"
        - name: wf-templates
          mountPath: "/tmp/workflow-templates"
        - name: action-templates
          mountPath: "/tmp/action-templates"
        {{- if ne  .Values.flow.certificate "none" }}
        - name: certs
          mountPath: "/etc/certs/direktiv"
          readOnly: true
        {{- end }}
        {{- if ne  .Values.uiapiCertificate "none" }}
        - name: servecerts
          mountPath: "/etc/certs/servedirektiv"
          readOnly: true
        {{- end }}
        ports:
        - containerPort: 8080
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
