apiVersion: v1
kind: Service
metadata:
  name: {{ include "direktiv.fullname" . }}-functions-hl
  labels:
    {{- include "direktiv.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: 5555
      name: grpc
      protocol: TCP
  selector:
    {{- include "direktiv.selectorLabelsFunctions" . | nindent 4 }}
