apiVersion: configuration.konghq.com/v1
kind: KongIngress
metadata:
  name: {{ include "direktiv.fullname" . }}-ingress-timeout
  labels:
    {{- include "direktiv.labels" . | nindent 4 }}
proxy:
  protocol: http
  read_timeout: {{ .Values.ingress.timeout }}
  connect_timeout: {{ .Values.ingress.timeout }}
  write_timeout: {{ .Values.ingress.timeout }}
  retries: 0
