{{- if .Values.withSupport -}}
apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ include "direktiv.fullname" . }}-support
  labels:
    {{- include "direktiv.labelsSupport" . | nindent 4 }}
spec:
  ports:
    - port: 5432
      name: postgresql
      protocol: TCP
  selector:
    {{- include "direktiv.selectorLabelsSupport" . | nindent 4 }}
{{- end }}
