.alert {
    border-radius: var(--theme-border-radius);
    background-color: var(--theme-grey-light-blue);
    color: var(--theme-dark-gray-text);
    min-height: 42px;
    font-size: 12px;
    line-height: 18px;
}

.alert.small {
    max-height: 31px;
    min-height: 31px;
    font-size: 12px;
    line-height: 9px;
}

.alert.critical {
    background-color: var(--theme-red);
}

.alert.warning {
    background-color: var(--theme-yellow);
}

.alert.success {
    background-color: var(--theme-green);
}

.alert.info {
    background-color: var(--theme-brand-blue);
}

.alert-opacity {
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: var(--theme-border-radius);
}

.alert-icon {
    flex: 1;
}

.alert-icon svg {
    height: 24px;
    width: 24px;
}

.alert-body {
    margin-top: 8px;
    margin-bottom: 8px;;
    padding-right: 8px;
}

.alert-close {
    max-width: 20px;
    cursor: pointer;
}

.alert-close:hover {
    color: #fc636d
}