.fail-message .msg-box {
    color: var(--theme-red);
    background-color: var(--theme-red-faded);
    /* padding: 10px */
}

.wait-message .msg-box {
    color: var(--theme-dark-gray-text);
    background-color: #fcfdfe;
    /* padding:10px; */
    border: 1px solid #f4f4f4
}

.fail-message, .wait-message {
    padding: 0px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s linear;
}

.fail-message.visible, .wait-message.visible {
    max-height: 120px;
    transition: max-height 0.5s linear;
}

.fail-message .msg-box, .wait-message .msg-box {
    padding: 10px;
}

.toggle-details {
    display: flex;
    min-width: 100px;
}

.toggle-details > div {
    flex: auto;
}

.msg-box {
    border-radius: 4px;
    word-break: break-all;
    max-height: 80px;
    overflow-y: auto;
}

.condition-list li:not(:last-child) {
    margin-bottom: 10px;
}

.pod-label {
    /* max-width: 200px; */
    max-height: 22px;
}
