.modal-overlay,
.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;

  height: 100vh;
  width: 100vw;
}

.modal-overlay {
  background-color: var(--theme-dark-text);
  filter: opacity(50%);
}

.modal-body {
  cursor: default;
  min-width: 300px;
  max-width: 80vw;
}

.modal-overlay {
  animation: 1s ease-out 0s 1 FadeIn;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

.modal-buttons div {
  display: flex;
  flex-direction: row-reverse;
  flex: auto;
}

.modal-buttons div svg {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
