.navbar-logo {
    margin: auto;
    padding-top: 12px;
    margin-left: 8px;
    /* padding: 10px; */
    /* padding-bottom: 0px; */
    max-height: 48px;
}

.navbar-logo img {
    max-width: 150px;
}

.navbar-panel {
    padding: 10px;
    width: calc(100% - 22px);
    background-color: var(--theme-white);
    border-bottom-right-radius: var(--theme-border-radius);
    border-top-right-radius: var(--theme-border-radius);
    border-style: solid;
    border-width: 1px;
    border-color: var(--theme-subtle-border);
}

.new-namespace-btn {
    cursor: pointer;
    margin-top: 10px;
    height: 38px;
    max-height: 38px;
    border-radius: var(--theme-border-radius);
    border: solid 1.2px #CFDAE1;
    box-shadow: inset 1px 2px 4px 0px #8797AD0F;

    transition: filter 0.3s;
}

.new-namespace-btn:hover {
    filter: brightness(0.85);
}

.nav-items ul {
    margin: 0px;
    color: var(--theme-dark-gray-text);
    padding: 0px;
    width: 100%;
    list-style: none;
}

.navbar-userinfo {
    padding: 8px;
    padding-left: 22px;
}

.navbar-username {
    font-size: 18px;
}

.navbar-version {
    margin-top: -4px;
    font-size: 12px;
    color: var(--theme-dark-gray-text);
}

.nav-item {
    line-height: 48px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    font-weight: 600;
}

.nav-item:hover, .nav-item.active {
    color: var(--theme-dark-text);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: var(--theme-border-radius);
}

.disabled-nav-item .nav-item:hover {
    cursor: auto;
    color: inherit;
    background-color: #FFFFFF;
}

.disabled-nav-item {
    color: #BDC7C9;
}

#responsive-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    background-color: white;
    border-bottom: solid 1px var(--theme-subtle-border);
    z-index: 1;
}

.navigation-master {
    max-height: 100vh;
    overflow-y: auto;
    min-width: 210px;
}

@media screen and (max-width: 1000px) {

    .breadcrumbs-row {
        padding-top: 42px;
    }

    .responsive-nav {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        z-index: 10;
    }

    .responsive-nav.toggled {
        display: inherit;
    }

    .responsive-nav-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.25);
        opacity: 0;
        z-index: 1;
        
        
        transition: opacity 0.3s ease-in-out 0s;
    }
    
    .responsive-nav-overlay.toggled {
        opacity: 1;
        transition: opacity 0.3s ease-in-out 0s;
        pointer-events: unset;
    }

    .responsive-nav .panel {
        background-color: #F8F8F9;
        position: absolute;
        width: 230px;
        left: -230px;
        height: 100vh;
    }

    .responsive-nav .panel.toggled {
        background-color: #F8F8F9;
        left: 0px;
    }

    .navigation-master {
        position: absolute;
        top: 0px;
        left: -230px;
        z-index: 20;
        padding-right: 12px;
    }

    .responsive-nav .panel, .navigation-master {
        transition: left 0.3s ease-in-out 0s;
    }

    .navigation-master.toggled {
        left: 0px;
    }


    .navigation-master.hidden {
        display: none;
    }

    .content-col {
        position: absolute;
        /* left: 8px; */
        padding-left: 8px;
        width: calc(100vw - 8px);
        height: 100%;
    }

    html {
        max-height: 100vh !important;
        overflow-y: hidden;
    }

}

@media screen and (min-width: 1001px) {
    .hide-on-large {
        display: none;
    }
}

.menu-toggle-parent {
    /* flex-direction: row-reverse; */
    color: var(--theme-dark-gray-text);
}
