.dependency-diagram.state {
    color: white;
    font-size: 8px;
    display: flex;
    padding: 0px;
    min-width: 116px;
    max-width: 116px;
}

.flex-centered {
    align-items: center;
    justify-content: center;
}

.state.green-state {
    background-color: #55BA86;
}

.state.red-state {
    background-color: #EC4F79;
}

.state.blue-state {
    background-color: #3E94C5;
}

.state-type {
    display: flex;
    align-items: center;
    font-size: 6px;
    height: 10px;
}

.state-label {
    max-width: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.state-info {
    padding: 8px;
}

.state-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 1px rgba(255, 255, 255, 0.2);
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 12px;
}

.state-actions:hover {
    background-color: rgba(0, 0, 0, 0.1);
}