#main-layout {
    min-height: 100vh;
    max-height: 100vh;
}

.navigation-col {
    max-width: 240px;
    min-width: 240px;

    max-height: 100vh;
    overflow: initial;
    /* overflow-y: hidden; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.navigation-col::-webkit-scrollbar {
    display: none;
}

.breadcrumbs-row {
    height: 72px;
    max-height: 72px;
}

.content-col {
    max-height: 100vh;
    overflow-y: auto;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 7px 8px 0 0;
}

.no-workspace-message {
    text-align: center;
    margin: 0 50px 70px 50px;
}
