.namespace-selector {
    padding: 8px;
    gap: 8px;
    cursor: pointer;
}
.namespace-selector:hover {
    filter: brightness(0.85);
}

.namespace-selector-logo {
    box-shadow: 1px 2px 9px 0px #0000001C;
    border-radius: var(--theme-border-radius);
    
    width: 45px;
    max-width: 45px;

    height: 45px;
    max-height: 45px;
}

.namespace-selector-label-header {
    color: var(--theme-dark-gray-text);
    font-weight: bolder;

    font-size: 10px;
    line-height: 10px;
    max-height: 10px;
}

.namespace-selector-label-value {
    color: var(--theme-dark-text);
    font-weight: 700;

    font-size: 14px;
    line-height: 17px;
}

.namespace-selector-label-value > span {
    max-width: 119px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selector-border {
    border: var(--border);
    border-radius: var(--theme-border-radius);
    transition: border-width 1s ease-in-out 0s;
    /* padding: 1px; */
}

.selector-border.hidden {
    border-width: 0px;
}

.selector-section {

    max-height: 300px;
    overflow-y: scroll;
    transition: max-height 0.4s ease-out 0s,
                border-width 0.4s linear 0s;
}

.selector-section.hidden {
    border-width: 0px;
    max-height: 0px;
    pointer-events: none;
    transition: max-height 0.4s ease-out 0s,
                border-width 0.4s linear 0s;
}

.namespaces-list {
    padding: 4px;
}

.namespace-list-item {
    border-radius: var(--theme-border-radius);
    min-height: 45px;
    height: 45px;
    max-height: 45px;
}

.selector-section .namespace-list-item{
    padding: 4px;
}
.selector-section .namespace-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.namespaces-list .namespace-list-item:not(:last-of-type) {
    /* padding-bottom: 8px; */
    /* border-bottom: var(--border); */
}

.namespaces-list .namespace-list-item > div {
    cursor: pointer;
}

.namespaces-list .namespace-list-item > div:hover {
    /* background-color: rgba(0, 0, 0, 0.1); */
    border-radius: var(--theme-border-radius);
}

.chevron-icon {
    transform: rotate(0deg);
    transition: transform 0.7s ease-in-out 0s;
}

.chevron-icon.spin {
    transform: rotate(180deg);
    transition: transform 0.7s ease-in-out 0s;
}


/* Loading - Namespace List Item */
.namespace-list-item.loading .namespace-selector-logo {
    /* content: ""; */

    background: linear-gradient(293deg,white,#3e94c5);
    background-size: 300% 300%;
    animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 0%; }
    100% { background-position: 0% 0%; }
}

/* .loading {
    pointer-events: none;
    user-select: none;
} */

.namespace-selector.loading:hover {
    filter: none;
    cursor: unset;
}

.chevron-icon.hidden {
    visibility: hidden;
}

.ns-hover {
    background-color: white;
}

.ns-hover:hover {
    filter: brightness(0.95);
}

.tippy-box {
    font-size: 14px;
    background: rgba(8, 32, 50, 0.92);
    border: 1px solid #082032;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    word-break: break-word;
}

.tippy-arrow:before {
    color: rgba(8, 32, 50, 0.95);
    transform: translateY(1px);
}