.instance-details-rev {
    color: var(--theme-grey-light-blue);
    font-size: 12px;
    font-weight: 100;
}

.instance-details-tuple {
    color: var(--theme-dark-gray-text);
}

.instance-details-tuple a {
    color: var(--theme-brand-blue);
}

.instance-details-tuple a:hover {
    text-decoration: underline;
}

.log-timestamp {
    display: flex;
}
.instance-input-banner {
    max-height: 20px;
    margin: 0 0 5px 0;
}

.ReactVirtualized__Grid__innerScrollContainer{
    overflow: unset !important;
}

.ReactVirtualized__Grid.ReactVirtualized__List{
    padding: 0px 0px 3px 0px;
}

