.content-panel-parent {
    border-radius: var(--theme-border-radius);
    border: var(--border);
}

.content-panel-title {
    border-bottom: var(--border);
    line-height: 42px;
    max-height: 42px;
    padding-left: 16px;
    /* padding-right: 16px; */
    font-weight: 700;
    gap: 12px;
}

.content-panel-title-icon {
    display: flex;
    align-items: center;
}

.content-panel-body {
    padding: 8px;
    /* overflow-y: auto; */
    flex: auto;
    display: flex;
}

.control-panel-header-button {
    font-size: 12px;
    flex-direction: row-reverse;
    margin-right: 8px;
    float: right;
    user-select: none;
}

.control-panel-header-button > div {
    background-color: white;
    border: var(--border);
    border-radius: var(--theme-border-radius);
    height: 26px;
    line-height: 26px;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    width: fit-content;
    transition: border-color 0.5s ease 0s;
    overflow: hidden;
    text-overflow: ellipsis;
}

.control-panel-header-button > div:hover {
    cursor: pointer;
    border-color: var(--theme-dark-text);
}

.control-panel-header-button-icon {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 16px;
}

.control-panel-header-button-icon svg {
    height: 16px;
    width: 16px;
}

.content-panel-footer {
    border-top: var(--border);
    padding: 12px;
    /* padding-right: 12px; */
    /* padding-left: 12px; */
}