.breadcrumbs-row ul {
    list-style-type: none;
    padding-left: 1px;
    white-space: nowrap;
}

.breadcrumbs-row ul li {
    color: var(--theme-dark-gray-text);
    display: inline;
    font-size: 16px;
    line-height: 42px;
    font-weight: 600;
}

.breadcrumbs-row ul li a {
    text-decoration: none;
}

.breadcrumbs-row ul li:last-child a {
    color: var(--theme-dark-text);
}

.breadcrumbs-row ul li:hover a {
    text-decoration: underline;
}

.breadcrumbs-row ul li:not(:last-child):after {
    content: ">";
    margin-left: 10px;
    margin-right: 10px;
}

.breadcrumbs-corner {
    height: 72px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-right: 6px;
}

@media screen and (max-width: 1001px) {
    .breadcrumbs-corner {
        top: 42px;
    }
}
