.instances-table tr {
    line-height: 42px;
    height: 48px;
    padding-top: 8px;
}

.instance-row:hover {
    background-color: rgba(0,0,0,0.04);
}

.instance-row {
    border-top: solid 1px var(--theme-dark-gray-faded);
    line-height: 42px;
    height: 42px;
}

.success-label {
    color: var(--theme-green);
    background-color: var(--theme-green-faded);
}

.fail-label {
    color: var(--theme-red);
    background-color: var(--theme-red-faded);
}

.cancel-label {
    color: var(--theme-dark-gray-text);
    background-color: var(--theme-dark-gray-faded);
}

.running-label {
    color: var(--theme-brand-blue);
    background-color: var(--theme-brand-blue-faded);
}

.success-label, .fail-label, .cancel-label, .running-label {
    font-weight: 700;
    width: fit-content;
    line-height: 3px;
    padding-right: 16px;
    border-radius: 30px;
}

@media screen and (max-width: 600px) {
    .success-label, .fail-label, .cancel-label, .running-label {
        padding-right: 8px;
    }
}

@media screen and (max-width: 1050px) {
    .success-label, .fail-label, .cancel-label, .running-label {
        margin: auto;
    }
}

.instance-filter {
    padding-left: 1px;
    padding-right: 1px;
    flex-wrap: wrap;
}

.instance-filter > div {
    font-weight: bold;
    flex: 1;
    white-space: nowrap;
}

.instance-filter > div > input, select{
    background: #FFFFFF;
    border: 1px solid #D6DCE2;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px rgba(44, 57, 75, 0.04);
    border-radius: 4px;
    height: 41px;
}

.instance-filter .filter-close-btn {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--theme-dark-gray-text);
    
    border-radius: 14px;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instance-filter .filter-close-btn {
    cursor: pointer;
}

.instance-filter .filter-close-btn:hover {
    color: var(--theme-red);
    background-color: rgba(0, 0, 0, 0.2);
    
}


select > option {
    color: #082032;
}