@charset "UTF-8";

:root {
  --theme-background: #E5E5E5;
  --theme-grey-light-blue: #8797AD;
  --theme-dark-text: #082032;
  --theme-dark-gray-text: #566875;
  --theme-dark-gray-faded: rgba(86, 104, 117, 0.1);
  --theme-red: #FF616D;
  --theme-red-faded: rgba(255, 97, 109, 0.1);
  --theme-green: #66DE93;
  --theme-green-faded: rgba(102, 222, 147, 0.13);
  --theme-brand-blue: #3E94C5;
  --theme-brand-blue-faded: rgba(62, 148, 195, 0.13);
  --theme-yellow: rgba(237, 168, 100);
  --theme-yellow-faded: rgba(237, 168, 100, 0.13);
  --theme-white: #FFFFFF;
  --theme-shadow-background: #C4C4C4;
  --theme-shadow-box-shadow: 0px 2px 20px rgba(44, 57, 75, 0.1);
  --theme-subtle-border: #E9ECEF;

  --theme-bold-font-weight: 700; 

  --font-family: Inter;
  --border: solid 1px var(--theme-subtle-border);
  --hover-brightness: 1.1;
  --active-brightness: 0.95;
  --theme-border-radius: 4px;
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-Regular.ttf);
}

.opaque {
  background-color: white;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

.grey-text {
  color: var(--theme-dark-gray-text);
}

body {
  color: var(--theme-dark-text);
  background-color: #F8F8F9;

  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;  

  max-height: 100vh;
  /* min-width: 800px; */
  overflow-x: auto;
}

#overlay-helper {
  height: 0px;
  max-height: 0px;
  width: 0px;
  max-width: 0px;
}

.border {
  box-sizing: border-box;
  border: solid 1px var(--theme-subtle-border);
  border-radius: var(--theme-border-radius);
}

.shadow {
  background: var(--theme-shadow-background);
  box-shadow: var(--theme-shadow-box-shadow);
}

.disabled {
  pointer-events: none !important;
  cursor: unset !important;
  filter: grayscale(100%) !important;
}

.btn {
  user-select: none;
  color: var(--theme-white);
  cursor: pointer;
  border-radius: var(--theme-border-radius);
  background-color: var(--theme-brand-blue);
  padding: 7px 10px 6px;
  height: 32px;
  line-height: 32px;
  width: fit-content;
  font-size: 12px;
  transition: filter 0.1s;
}
.btn:hover {
  filter: brightness(var(--hover-brightness));
}
.btn:active {
  filter: brightness(var(--active-brightness));
}

.btn.light {
  /* box-sizing: border-box; */
  border: var(--border);
  background-color: white;
  color: black;
}

.btn.light:hover {
  filter: brightness(90%);
}
.btn.light:active {
  filter: brightness(80%);
}

.btn.small {
  height: 18px;
  line-height: 18px;
}
.btn.light.small {
  /* offset the border height */
  height: 16px; 
  line-height: 16px;
}

.reveal-btn {
  background: white;
  color: var(--theme-dark-gray-text);
  font-weight: 700;
  border: solid 1px var(--theme-subtle-border);
}

.reveal-btn:hover {
  filter: brightness(0.9);
}

.red {
  background-color: var(--theme-red);
}

.blue {
  background-color: var(--theme-brand-blue);
}

.red-text {
  color: var(--theme-red);
}

.clickable {
  cursor: pointer !important;
}

input {
  font-family: var(--font-family);
  min-width: 0px;
  width: 100%;
  padding-left: 8px;

  line-height: 42px;
  border: var(--border);
  border-radius: var(--theme-border-radius);
}

input:focus-visible {
  outline: solid 1px var(--theme-brand-blue);
}

.add-secret-btn {
  
  min-height: 44px;
  max-height: 44px;
  height: 44px;
  max-width: 44px;
  min-width: 44px;
  width: 44px;
  line-height: 44px;
  
  border: solid 1px var(--theme-green);
  border-radius: var(--theme-border-radius);
}

/* Switch CSS */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-broadcast {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme-dark-gray-text);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

input:checked + .slider-broadcast {
  background-color: var(--theme-brand-blue);
}

.slider-broadcast:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider-broadcast:before {
  background-color: white;
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

tr {
  padding-left: 8px;
  padding-right: 8px;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;  
}

.muted-text {
  color: var(--theme-grey-light-blue);
}

/* SCROLLBAR */

  /* Firefox */
  /* * {
    scrollbar-width: auto;
    scrollbar-color: #555753 #ffffff;
  } */

  /* Chrome, Edge, and Safari */
  /* *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #555753;
    border-radius: 10px;
    border: 3px solid #ffffff;
  } */


select {
  line-height: 48px;
  height: 48px;
  background-color: white;
  border: solid 1px var(--theme-subtle-border);
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
}

.hidden {
  visibility: hidden;
}