@charset "UTF-8";

:root {
  --theme-background: #E5E5E5;
  --theme-grey-light-blue: #8797AD;
  --theme-dark-text: #082032;
  --theme-dark-gray-text: #566875;
  --theme-dark-gray-faded: rgba(86, 104, 117, 0.1);
  --theme-red: #FF616D;
  --theme-red-faded: rgba(255, 97, 109, 0.1);
  --theme-green: #66DE93;
  --theme-green-faded: rgba(102, 222, 147, 0.13);
  --theme-brand-blue: #3E94C5;
  --theme-brand-blue-faded: rgba(62, 148, 195, 0.13);
  --theme-yellow: rgba(237, 168, 100);
  --theme-yellow-faded: rgba(237, 168, 100, 0.13);
  --theme-white: #FFFFFF;
  --theme-shadow-background: #C4C4C4;
  --theme-shadow-box-shadow: 0px 2px 20px rgba(44, 57, 75, 0.1);
  --theme-subtle-border: #E9ECEF;

  --theme-bold-font-weight: 700; 

  --font-family: Inter;
  --border: solid 1px var(--theme-subtle-border);
  --hover-brightness: 1.1;
  --active-brightness: 0.95;
  --theme-border-radius: 4px;
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-Regular.ttf);
}

.opaque {
  background-color: white;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

.grey-text {
  color: var(--theme-dark-gray-text);
}

body {
  color: var(--theme-dark-text);
  background-color: #F8F8F9;

  font-family: var(--font-family) !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;  

  max-height: 100vh;
  /* min-width: 800px; */
  overflow-x: auto;
}

#overlay-helper {
  height: 0px;
  max-height: 0px;
  width: 0px;
  max-width: 0px;
}

.border {
  box-sizing: border-box;
  border: solid 1px var(--theme-subtle-border);
  border-radius: var(--theme-border-radius);
}

.shadow {
  background: var(--theme-shadow-background);
  box-shadow: var(--theme-shadow-box-shadow);
}

.disabled {
  pointer-events: none !important;
  cursor: unset !important;
  filter: grayscale(100%) !important;
}

.btn {
  user-select: none;
  color: var(--theme-white);
  cursor: pointer;
  border-radius: var(--theme-border-radius);
  background-color: var(--theme-brand-blue);
  padding: 7px 10px 6px;
  height: 32px;
  line-height: 32px;
  width: fit-content;
  font-size: 12px;
  transition: filter 0.1s;
}
.btn:hover {
  filter: brightness(var(--hover-brightness));
}
.btn:active {
  filter: brightness(var(--active-brightness));
}

.btn.light {
  /* box-sizing: border-box; */
  border: var(--border);
  background-color: white;
  color: black;
}

.btn.light:hover {
  filter: brightness(90%);
}
.btn.light:active {
  filter: brightness(80%);
}

.btn.bold {
  font-weight: bold;
}

.btn.light.loading {
  opacity: 90% !important;
  pointer-events: none !important;
  cursor: unset !important;

  animation : shimmer 4s infinite;
  animation-timing-function: linear;
  background: linear-gradient(45deg, rgb(222, 222, 222) 0%, rgb(255, 255, 255) 50%, rgb(200, 200, 200) 100%); 
  background-size: 500px 100%;
}

.btn.small {
  height: 18px;
  line-height: 18px;
}
.btn.light.small {
  /* offset the border height */
  height: 16px; 
  line-height: 16px;
}

.reveal-btn {
  background: white;
  color: var(--theme-dark-gray-text);
  font-weight: 700;
  border: solid 1px var(--theme-subtle-border);
}

.reveal-btn:hover {
  filter: brightness(0.9);
}

.red {
  background-color: var(--theme-red);
}

.blue {
  background-color: var(--theme-brand-blue);
}

.red-text {
  color: var(--theme-red);
}

.green-text {
  color: var(--theme-green);
}

.clickable {
  cursor: pointer !important;
}

input {
  font-family: var(--font-family);
  min-width: 0px;
  width: 100%;
  padding-left: 8px;

  line-height: 42px;
  border: var(--border);
  border-radius: var(--theme-border-radius);
}

textarea {
  font-family: var(--font-family);
  min-width: 0px;
  width: 100%;
  padding-left: 8px;
  font-size: 14px;

  border: var(--border);
  border-radius: var(--theme-border-radius);
}

input:focus-visible,textarea:focus-visible {
  outline: solid 1px var(--theme-brand-blue);
}

.add-secret-btn {
  
  min-height: 44px;
  max-height: 44px;
  height: 44px;
  max-width: 44px;
  min-width: 44px;
  width: 44px;
  line-height: 44px;
  
  border: solid 1px var(--theme-green);
  border-radius: var(--theme-border-radius);
}

/* Switch CSS */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-broadcast {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme-dark-gray-text);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

input:checked + .slider-broadcast {
  background-color: var(--theme-brand-blue);
}

.slider-broadcast:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider-broadcast:before {
  background-color: white;
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: fit-content;
}

tr {
  padding-left: 8px;
  padding-right: 8px;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;  
}

.muted-text {
  color: var(--theme-grey-light-blue);
}

/* SCROLLBAR */

  /* Firefox */
  /* * {
    scrollbar-width: auto;
    scrollbar-color: #555753 #ffffff;
  } */

  /* Chrome, Edge, and Safari */
  /* *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #555753;
    border-radius: 10px;
    border: 3px solid #ffffff;
  } */


select {
  line-height: 48px;
  height: 48px;
  background-color: white;
  border: solid 1px var(--theme-subtle-border);
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  
  width: 100%;
  height: auto;
}

.hidden {
  visibility: hidden;
}

.btn-terminal {
  line-height: 22px;
  gap: 3px;
  background-color: rgb(53, 81, 102);
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 3px;
}

.btn-terminal:hover {
  background-color: rgb(59, 90, 114);
}

.btn-terminal.terminal-disabled {
  opacity: 30% !important;
  pointer-events: none !important;
  cursor: unset !important;
}

.btn-terminal.editor-info {
  padding: 0px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-terminal.terminal-loading {
  opacity: 90% !important;
  pointer-events: none !important;
  cursor: unset !important;

  animation : shimmer 2s infinite;
  animation-timing-function: linear;
  background: linear-gradient(45deg, rgba(53,81,102,1) 0%, rgb(66, 114, 151) 50%, rgba(53,81,102,1) 100%); 
  background-size: 500px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}


.editor-drawer {
  position: absolute;
  bottom: 43px;
  border-bottom: 1px solid #536470;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  left: 0px;
  width: 100%;
  max-height: 0px;
  height: fit-content;
  overflow: hidden;
  background-color: #223848;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px inset, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px inset, rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.editor-drawer.expanded {
  transition: max-height 1s ease-in-out;
  max-height: 600px;
  height: fit-content;
}

.subtle-border-bottom {
  border-bottom: solid 1px var(--theme-subtle-border);
}

.dropdown-select{
  box-shadow: var(--theme-shadow-box-shadow);
  border: var(--border);
  color: var(--theme-dark-gray-text);
  width: 100%;
  height: 36px;
}

select:focus-visible{
  outline: none
}

.container-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(86, 104, 116);
  font-size: 16px;
  font-style: italic;
}

.editor-footer {
  background-color: rgb(34, 56, 72);
  color: white;
  height: 44px;
  max-height: 44px;
  padding-left: 10px;
  min-height: 44px;
  align-items: center;
  position: relative;
  border-radius: 0px 0px 8px 8px;
}

.logs {
  background-color: rgb(0, 34, 64);
  color: white;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  padding: 8px;
}

.logs-footer {
  height: 40px;
  background-color: rgb(34, 56, 72);
  color: white;
  max-height: 40px;
  min-height: 40px;
  padding: 0px 10px;
  box-shadow: rgb(252, 253, 254) 0px 0px 3px 0px;
}

/* 
html:not(img):not(video) { 
  filter: invert(0.95) hue-rotate(180deg);
  background: black;
}

html .logs { 
  filter: invert(0.9) hue-rotate(210deg) brightness(1.2) contrast(1.05) saturate(1.1);
}

html .logs-footer { 
  filter: invert(0.9) hue-rotate(180deg) grayscale(0.1) brightness(1.3);
  box-shadow: unset;
}

html .monaco-wrapper { 
  filter: invert(0.9) hue-rotate(210deg) brightness(1.2) contrast(1.05) saturate(1.1);
}

html .editor-footer { 
  filter: invert(0.9) hue-rotate(180deg) grayscale(0.1) brightness(1.3);
  box-shadow: unset;
}

 */



/* Disabled as this interferes with firfox dropdown options */
/* .dropdown-select:hover{
  filter: brightness(var(--active-brightness));
} */

.input-title{
  font-weight: bold;
  color: var(--theme-dark-text);
  font-size: 14px;
}

.input-title.readonly{
  color: var(--theme-dark-gray-text);
}

.input-title.edited{
  color: var(--theme-brand-blue);
}

.input-title.edited::after{
  content: "*";
}

.input-title-button {
  font-size: 12px;
  cursor: pointer;
}

.input-title-button:hover {
  color: var(--theme-brand-blue);
}

.hide-important{
  pointer-events: none !important;
  visibility: hidden !important;
  height: 0px !important;
  max-height: 0px !important;
  overflow: hidden !important;
  width: 0px !important;
  max-width: 0px !important;
}