@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* START overwrite daisyui */

/* no uppercase buttons */
.btn {
  @apply normal-case;
}

/* fix daisyui outline buttons with state colors */
.btn-outline.btn-info {
  @apply border-info-content text-info-content;
}

.btn-outline.btn-success {
  @apply border-success-content text-success-content;
}

.btn-outline.btn-warning {
  @apply border-warning-content text-warning-content;
}

.btn-outline.btn-error {
  @apply border-error-content text-error-content;
}

/* make normal and large variants a bit smaller */
.btn,
.input,
.btn-md,
.input-md {
  @apply min-h-8 h-9; /* default is h-12 min-h-12 */
}

.btn-xs,
.input-xs {
  @apply min-h-6 h-6; /* keeps the original */
}

.btn-sm,
.input-sm {
  @apply min-h-8 h-8; /* keeps the original */
}

.btn-lg,
.input-lg {
  @apply min-h-8 h-11; /* default is h-16 min-h-16 */
}

/* make divider 1px height */
.divider:after,
.divider:before {
  @apply h-px;
}

/* END START overwrite daisyui */

body,
html {
  @apply h-full;
  @apply bg-white dark:bg-black;
}

a {
  @apply hover:underline;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter.ttf") format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter-Medium.ttf") format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/RobotoMono-Medium.ttf") format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
