apiVersion: v1
kind: Secret
metadata:
  name: direktiv-fluentbit
  labels:
    {{- include "direktiv.labels" . | nindent 4 }}
type: Opaque
data:
   PG_USER: {{ .Values.database.user | b64enc | quote }}
   PG_PASSWORD: {{ .Values.database.password | b64enc | quote }} 
   PG_HOST: {{ .Values.database.host | b64enc | quote }}
   PG_DB_NAME: {{ .Values.database.name | b64enc | quote }}
   PG_PORT: {{ .Values.database.port | toString | b64enc | quote }}
