apiVersion: v1
kind: Secret
metadata:
  name: {{ include "direktiv.fullname" . }}
  labels:
    {{- include "direktiv.labels" . | nindent 4 }}
type: Opaque
data:
   {{- $secretName := printf "%s" (include "direktiv.fullname" .) }}
   {{- $secretObj := (lookup "v1" "Secret" .Release.Namespace "direktiv")  }}
   {{- $secretData := (get $secretObj "data") | default dict }}
   {{- $randomKey := randAlphaNum 32 }}
   

   db: {{ printf "host=%s port=%d user=%s dbname=%s password=%s sslmode=%s %s" .Values.database.host ( .Values.database.port | int64 )  .Values.database.user .Values.database.name .Values.database.password .Values.database.sslmode .Values.database.additional | b64enc | quote }}

   {{- if .Values.flow.encryptionKey }}
   key: {{ .Values.flow.encryptionKey | b64enc | quote }}
   {{- else }}
    
   {{- if $secretData.key }}
   key: {{ $secretData.key | quote }}
   {{- else }}
   key: {{ ($randomKey  | b64enc | quote )}}
   {{- end }}

   {{- end }}

   {{- if ne .Values.apikey "none" }}
   apikey: {{ .Values.apikey | b64enc | quote }}
   {{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "direktiv.fullname" . }}-secrets-functions
  namespace: {{ .Values.functions.namespace }}
  labels:
    {{- include "direktiv.labels" . | nindent 4 }}
type: Opaque
data:
   db: {{ printf "host=%s port=%d user=%s dbname=%s password=%s sslmode=%s %s" .Values.database.host ( .Values.database.port | int64 )  .Values.database.user .Values.database.name .Values.database.password .Values.database.sslmode .Values.database.additional | b64enc | quote }}
   {{- if .Values.flow.encryptionKey }}
   key: {{ .Values.flow.encryptionKey | b64enc | quote }}
   {{- else }}
    
   {{- if $secretData.key }}
   key: {{ $secretData.key | quote }}
   {{- else }}
   key: {{ ($randomKey | b64enc | quote )}}
   {{- end }}

   {{- end }}