.flex-box {
    display: flex;
    flex: auto;
}

.flex-box.wrap {
    flex-wrap: wrap;
}

.flex-box.row {
    flex-direction: row;
}

.flex-box.col {
    flex-direction: column;
}

.flex-box.tall {
    height: 100%;
}

.auto-margin {
    margin: auto;
}

.flex-box.gap {
    gap: 8px;
}

.flex-box.large-gap {
    gap: 12px;
}