name: Build
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Golang
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: make build
      run: |
        make build
    - name: make build cli
      run: |
        make build-cli
    - name: push docker
      run: |
        make docker
        docker images | grep direktiv
        docker tag direktiv vorteil/direktiv:latest
        docker push vorteil/direktiv:latest
    - name: create vorteil image
      run: |
        wget https://github.com/vorteil/vorteil/releases/latest/download/vorteil_linux-x86.tar.gz
        tar -xzf vorteil_linux-x86.tar.gz
        ./vorteil projects convert-container vorteil/direktiv:latest d
        cp build/default_docker.vcfg d/default.vcfg
        cp build/run_pg.sh d/ 
        ./vorteil packages package -o direktiv.vorteil d
    - name: Release-Direktiv
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Direktiv Release
        draft: true
        prerelease: false
    - name: upload vorteil image
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./direktiv.vorteil
        asset_name: direktiv.vorteil
        asset_content_type: application/octet-stream
    - name: upload vorteil cli
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./direkcli
        asset_name: direkcli
        asset_content_type: application/octet-stream
