name: Build and Release Charts

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - cycle*
  pull_request:

jobs:
  release:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: charts
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
          helm repo add fluent-bit https://fluent.github.io/helm-charts
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Helm Lint
        run: |
          helm dependencies update direktiv
          helm lint direktiv
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          mark_as_latest: false
        env:
          CR_TOKEN: "${{ secrets.GH_TOKEN }}"
          CR_SKIP_EXISTING: true