name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.20.0
          version: v1.52
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: ./scripts/install-dependencies.sh 
        shell: bash
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
