name: K3s Tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  SRVTAG: dev
  IS_GITHUB_ACTIONS: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 6
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Ubuntu packages
        uses: actions/cache@v4
        with:
          path: /var/cache/apt/archives
          key: ${{ runner.os }}-apt-packages-${{ hashFiles('**/apt.lock') }}
          restore-keys: |
            ${{ runner.os }}-apt-packages-
      - name: Cache Docker layers
        id: docker-cache
        uses: actions/cache@v4
        with:
          path: ~/.docker
          key: docker-${{ runner.os }}-${{ hashFiles('Dockerfile') }}
          restore-keys: |
            docker-${{ runner.os }}-

      - name: Build Docker image
        run: docker build -t direktiv/direktiv:${{ env.SRVTAG }} .
        env:
          DOCKER_BUILDKIT: 1

      - name: Save Docker image to tar file
        run: docker save direktiv/direktiv:${{ env.SRVTAG }} -o direktiv.tar

      - name: Upload Docker image as artifact
        uses: actions/upload-artifact@v4
        with:
          name: direktiv-image
          path: direktiv.tar
  test:
    needs: build
    runs-on: ubuntu-latest

    timeout-minutes: 18
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        jest_prefix: [
            "api/",
            "engine/",
            "errors/",
            "events/",
            "filesystem/",
            # "functions/",
            "gateway/",
            "kubernetes/",
            "logparser/",
            "mirror/",
            "namespaces/",
            "registry/",
            "secrets/",
            "secrets2/",
            # "services/",
            "variables/",
            "variables2/",
            "logs/", 
          ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Ubuntu packages
        uses: actions/cache@v4
        with:
          path: /var/cache/apt/archives
          key: ${{ runner.os }}-apt-packages-${{ hashFiles('**/apt.lock') }}
          restore-keys: |
            ${{ runner.os }}-apt-packages-
      - name: Download Docker image artifact
        uses: actions/download-artifact@v4
        with:
          name: direktiv-image

      - name: Setup k3s
        run: curl -sfL https://get.k3s.io | sh -s - --disable traefik --write-kubeconfig-mode=644

      - name: Install Helm
        run: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Create namespace for the DB
        run: kubectl create ns postgres

      - name: Install Postgres using Percona Operator
        run: |
          helm repo add percona https://percona.github.io/percona-helm-charts/
          helm install --create-namespace -n postgres pg-operator percona/pg-operator --wait

      - name: Add a postgres instance
        run: |
          kubectl apply -f https://raw.githubusercontent.com/direktiv/direktiv/main/scripts/kubernetes/install/db/basic.yaml

      - name: Cache Docker layers
        id: docker-cache
        uses: actions/cache@v4
        with:
          path: ~/.docker
          key: docker-${{ runner.os }}-${{ hashFiles('Dockerfile') }}
          restore-keys: |
            docker-${{ runner.os }}-

      - name: Apply images
        run: |
          sudo k3s ctr images import direktiv.tar

      - name: Wait for Direktiv pods to be ready
        run: |
          sleep 1
          kubectl wait -n postgres --for=condition=Ready pod -l app.kubernetes.io/instance=direktiv-cluster --timeout=120s
      - name: Generate dev.yaml file with database credentials
        run: |
          DB_HOST=$(kubectl get secrets -n postgres direktiv-cluster-pguser-direktiv -o 'go-template={{index .data "host"}}' | base64 --decode)
          DB_PORT=$(kubectl get secrets -n postgres direktiv-cluster-pguser-direktiv -o 'go-template={{index .data "port"}}' | base64 --decode)
          DB_USER=$(kubectl get secrets -n postgres direktiv-cluster-pguser-direktiv -o 'go-template={{index .data "user"}}' | base64 --decode)
          DB_PASSWORD=$(kubectl get secrets -n postgres direktiv-cluster-pguser-direktiv -o 'go-template={{index .data "password"}}' | base64 --decode)
          DB_NAME=$(kubectl get secrets -n postgres direktiv-cluster-pguser-direktiv -o 'go-template={{index .data "dbname"}}' | base64 --decode)
          
          cat <<EOF > dev.yaml
          pullPolicy: IfNotPresent
          tag: "${{ env.SRVTAG }}"
          flow:
            logging: json

          database:
            host: "$DB_HOST"
            port: $DB_PORT
            user: "$DB_USER"
            password: "$DB_PASSWORD"
            name: "$DB_NAME"
            sslmode: require
          EOF
          cat dev.yaml
      - name: Install Direktiv chart
        run: helm install direktiv -f dev.yaml ./charts/direktiv/

      - name: Wait for Direktiv pods to be ready
        run: |
          sleep 1
          kubectl wait --for=condition=Ready pod -l app.kubernetes.io/instance=direktiv --timeout=120s
          kubectl wait --for=condition=Ready pod -l app.kubernetes.io/name=direktiv-frontend --timeout=120s

      - name: Get Internal IP
        id: getInternalIP
        run: |
          internal_ip=$(kubectl get service direktiv-ingress-nginx-controller -o jsonpath='{.spec.clusterIP}')
          echo "internal_ip=$internal_ip" >> $GITHUB_ENV

      - name: Set Environment Variables
        run: echo "DIREKTIV_HOST=${{ env.internal_ip }}" >> $GITHUB_ENV

      - name: Print DIREKTIV_HOST
        run: echo "DIREKTIV_HOST is set to ${{ env.DIREKTIV_HOST }}"

      - name: Wait until API is healthy
        run: |
          endpoint="http://${{ env.DIREKTIV_HOST }}/api/v2/version"

          for attempt in {1..20}; do
            status_code=$(curl -s -o /dev/null -w "%{http_code}" $endpoint)
            echo "API status code: $status_code"

            [ $status_code -eq 200 ] && { echo "API ready"; exit 0; }
            sleep 1
          done

          echo "API failed to be healthy"
          kubectl get pods 
          kubectl logs deployments/direktiv-flow
          exit 1
      - name: Run E2E tests
        run: |
          npm -prefix tests run all -- ${{ env.JEST_PREFIX }}
        env:
          JEST_PREFIX: ${{ matrix.jest_prefix }}
          DIREKTIV_HOST: ${{ env.DIREKTIV_HOST }}
          GITHUB_ACTIONS: true

      - name: Show logs
        run: |
          kubectl logs deployments/direktiv-flow | tail -n 100

      - name: Cleanup test cache
        run: npm cache clean --force