# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# Dependency package direktiv-react-hooks is then tested to make sure it is up to date.

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check_updates:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.15.1]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install --global yarn
    - run: yarn install
    - run: yarn outdated direktiv-react-hooks
