name: (UI) Publish Storybook to Chromatic

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ui

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # chromatic needs all commits

      - name: Install dependencies
        run: yarn
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: ui
          buildScriptName: storybook:build